/* Styles de base */
	body 
	{
		margin: 0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
        color: #59554E;
        min-width: 500px;
	}
	
	/*
		Définition de font pour chaques parties
	*/
    #accueil
    {
        padding-top: 30px;
        background-color: white;
    }

    #les_types_de_bijoux
    {
        padding-top: 30px;
        background-color: #E2E3D9;
    }

    #les_métaux
    {
        padding-top: 30px;
        background-color: white;
    }

    #les_pierres
    {
        padding-top: 30px;
        background-color: #E2E3D9;
    }

/*
		Modiffication du serti pour palier le bug
*/
    #les_serties
	{
		margin-bottom: 9%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 16px;
        background-color: white;
	}

    #sertissage
    {
        background-color: white;
    }
	
    /*
		Modiffication du contact pour palier le bug du dessus
	*/
	#contact
	{
		background-color: #59554E;
		padding-bottom: 0;
		margin-bottom: 0;
		margin-top: 200px;
        color: #E2E3D9;
	}
	
	/*
		Barre de navigation blanche
	*/
	#navid 
	{
		background-color: white;
        box-shadow: 15px 0px 15px #D0D0D0 ;
        margin: 0;
	}

/* 
    bouton de la navbar 
*/
    #headerButton
    {
        border-color: black;
    }
	
    .lineInButton
    {
        background-color: black;
    }
	/*
		Ecriture dans la barre de navigation noire
	*/
	.navclass
	{
		color: black;
	}
	
	/*
		Marge dans la barre de navigation
	*/
	.margin-me
	{
		margin-left: 2%;
		margin-right: 2%;
	}
	
	/*
		paragraphe de chaque sertisage
	*/
	.sertiPara
	{
		margin-bottom:40px; text-align: justify;
	}
	
	.carousel .item 
	{
		max-height: 100%;
	}
	
	/*
		image du carousel
	*/
	.carousel img 
	{
		position: absloute;
		top: 0;
		width: 100%;
		max-height: 950px;
	}
	
	/*
		positionnement du dropdown
	*/
	.centerDropdown {
		left: auto ;
		right: -25%;
		width: 10%;
	}
	
	.centerDropdown:after {
		left: auto ;
		right: 5% ;
	}
	
	.dropdown-menu {
		left: 50% ;
		margin-left: -70px;
	}
	
	/*
		Taille de la 1er image
	*/
	.imageNot100
	{
		width: 300px;
	}
	
	
	
	/*
		Bouton suivant
	*/
	.nextButtonCss{
		position:fixed;
		bottom:5px;
		left:40%; 
		background-color: #FAFAFA; 
		width:20%; 
		min-width:260px;  
		border: 1px solid #59554E;
	}
	
	.nextButtonCss:hover{
		background-color: #E2E3D9;
	}